#home {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

$tablet: 700px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
  }

.dashboard {
  &__container{
    
    &__img {
      height: 30em;

      @include tablet{
        height: 10em;
    }
    
    }
  }
}

.item-one {
   &__header{
     
    @include tablet{
      font-size: 1em;
    }
   }

   &__text{
    @include tablet{
      font-size: 0.7em;
    }
   }
}

.item-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__content {
    border-right: 0.01em solid lighten($color: $primary-color, $amount: 70);
  }

  &__header {
    overflow: hidden;
  }

  &__description {
    color: darken($color: $tetiary-color, $amount: 40);
  }
}

.item-five {
    margin-top: 4em;
    padding: 0 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $tetiary-color;

    @include tablet{
      padding: 0;
  }

    &__image-container{

        display: flex;
        justify-content: center;
        &__img {
          height: 30em;

          @include tablet{
            height: 10em;
        }
        }

    }
}

.item-six {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__icon {
    color: darken($color: $secondary-color, $amount: 50);
  }
}

.item-seven {
  margin-top: 4em;
  padding: 0 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $tetiary-color;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 30em;
  }

  @include tablet{
    padding: 0;
  }

  &__image-container{

      display: flex;
      justify-content: center;
      &__img {
        height: 6em;

        @include tablet{
          height: 3em;
        }
      }
  }
}
.item-eight {
  background-color: $tetiary-color;

  &--nine {
    background-color: $secondary-color;
  }
}

.item-nine {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  background-color: $tetiary-color;

  &__content {
    padding-left: 13em;

    @include tablet{
      padding-left: 10%;
    }

  }

  &__item {
    background-color: $secondary-color;
    padding-left: 2em;
    padding-bottom: 3em;

    &__link {
      color: $primary-color;
      background-color: $tetiary-color;
      padding:0  1em;

      &__link:hover{
            text-decoration: none;
      }
    }
  }

  &__button {
      color: $secondary-color;
      background-color: $primary-color;
      font-size: 1.3em;
      padding: 0 2%;
      text-align: center;

      @include tablet{
        font-size: 0.8em;
      }
  }
}

.item-ten {

  &__text {
    text-transform: uppercase;

    @include tablet{
      font-size: 0.7em;
    }
  }

  &__other {
    background-color: $secondary-color;
  }
}


