#recover{
    #layout {
        min-height: 0vh !important
    }
    .recover_container{
        text-align:center;
        width:60%;
        margin: 4em auto;
            .container_word{
            font-size: 50px;
            font-weight: bolder;
            margin:0.5em 0em;
    }
    }
    .form {
        width:50%;
        margin:auto;
        label{
            display: block;
            text-align: left;
            margin-bottom:none !important;
        }
        .form_word{
            font-size:16px;
            margin:1em;
        }
    }
    input{
        padding:7px;
        margin-bottom:1em;
        width: 100%;
        background-color: #fbf5f5;
        border:1px solid rgb(224, 223, 223);;
        outline:none;
    }
   
    .tetiary-btn {
        @include btn;
        background-color: $tetiary-color;
        color: $primary-color;
        font-size:16px;
        width:100%;
        font-weight:bolder;
        margin:0.5em 0em;
        &:hover {
          border-color: $theme-color;
          box-shadow: 0 0 3px 1px lighten($color: $primary-color, $amount: 20);
        }
      
        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
    
    }
    
    @media (max-width: 991px) {
        #recover{
            .recover_container{
                width:100%;
             .container_word{
                font-size: 40px;
            }
        }
        .form{
            width:70%;
            margin:auto;
        }
    }
    
    
    }